@import '../../theme/palette';

.counter {

    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    position: relative;
    color: #365899;
    display: block;
    box-sizing: border-box;

    &::after {
        content: '';
        position: absolute;
        top: -6px;
        left: -35px;
        width: 30px;
        height: 30px;
        background-image: url("../../theme/assets/post.png");
        background-repeat: no-repeat;
        background-size: 30px;
    }
}
